// colors
$military-green: #1e2200;

// Background colors - black -> purple
$bg-color-one: #17003d;
$primary-purple: #17003d;
$secondary-purple: #240066;
$bg-color-two: #e1c693;
$bg-color-three: #170048;
$bg-color-four: #240066;
$bg-color-five: #1d0042;
$footer-color: #161616;

$card-color: #f5deb3;

$text-section-two: #000000;

$light-text: rgb(227, 218, 255);
$medium-text: rgb(112, 112, 112);
$heading-color: #d1d1d1;
$footer-links: #d1d1d1;
$link-hover: #aaaaaa;
$menu-hover: #b6b6b6;
$section-name: $light-text;
$copyright-text: #d1d1d1;

// Border top - bottom colors
$border-top: solid 1px #000000c8;
$border-bottom: solid 1px #ffffff0c;
$footer-border: #ffffff0e;
$nav-border: $border-bottom;
$hidden-menu-border: #ffffff05; 

// Brand color
$brand-color: #17003d;
