// Mixins

// Flex
@mixin flex($direction, $justify, $align) {
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Grid
@mixin grid($columns) {
    display: grid;
    grid-template-columns:repeat($columns, 1fr);
}

// Size
@mixin size($width, $height) {
    width: $width;
    height: $height;
}

// Position relative
@mixin position($x, $y, $z) {
    position: relative;
    top: $x;
    left: $y;
    right: $z;
}

// Position absolute
@mixin absolute($x, $y, $z) {
    position: absolute;
    top: $x;
    left: $y;
    right: $z;
}

// Position fixed
@mixin fixed($x, $y, $z) {
    position: fixed;
    top: $x;
    right: $y;
    bottom: $z;
}

// Media Query
$fold-width: 280px;
$special-width: 390px;
$xiomi-width: 435px;
$tablet-width: 900px;
$desktop-width: 1350px;

@mixin fold {
    @media (max-width: #{$fold-width}) {
      @content;
    }
}

@mixin special {
    @media (max-width: #{$special-width}) {
      @content;
    }
}

@mixin xiomi {
    @media (max-width: #{$xiomi-width}) {
      @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
      @content;
    }
}

@mixin landscape {
    @media (orientation: landscape) {
        @content;
        
    }
}